<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">{{tituloUsuario | uppercase}}</span>
                    <!-- para conectas los formularios -->
                    <form class="mt-3" [formGroup]="userForm" (ngSubmit)="agregarUsuario()">
                        <div class="mb-3">
                            <!-- enlazar las variables  -->
                            <input type="text" formControlName="usuario" class="form-control form-control-lg"
                                placeholder="Usuario (se recomienda no agregar espacios)">
                            <div class="text-danger"
                                *ngIf="userForm.get('usuario')?.hasError('required') && userForm.get('usuario')?.touched">
                                <span>El nombre del usuario <strong>es obligatorio*</strong></span>
                            </div>
                        </div>
                        <!-- tipo de permiso-->
                        <div class="mb-3">
                            <label class="d-flex mb-2">Seleccione tipo de permiso:</label>
                            <select class="form-select form-control form-control-lg" formControlName="tipopermiso">
                                <option value="SuperAdmin">Super Administrador</option>
                                <option value="Administrador">Administrador</option>
                                <option value="PermisoDoctor">Doctor</option>
                                <option value="PermisoGeneral">Registro</option>
                                <option value="PermisoFarmacia">Farmacia</option>
                            </select>
                        </div>
                        <!-- contraseña -->
                        <div class="mb-3">
                            <!-- enlazar las variables  -->
                            <input type="string" formControlName="contrasena" class="form-control form-control-lg"
                                placeholder="Contraseña">
                            <div class="text-danger"
                                *ngIf="userForm.get('contrasena')?.hasError('required') && userForm.get('contrasena')?.touched">
                                <span>La contraseña <strong>es obligatoria*</strong></span>
                            </div>
                        </div>
                        <!-- Estado de Atención-->
                        <div class="mb-3">
                            <label class="d-flex mb-2">Estado del usuario:</label>
                            <select class="form-select form-control form-control-lg" formControlName="estadousuario">
                                <option value="Activo">Activo</option>
                                <option value="Inactivo">Inactivo</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <button routerLink="/home" class="btn btn-secondary btn-lg float-start">Volver</button>
                            <button type="submit" [disabled]="userForm.invalid"
                                class="btn btn-success btn-lg float-end">Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>