<body class="container-menu">
    <div style="display: flex; gap: 10px;">
        <button class="button-home" routerLink="/users">
            <h2>Admin</h2>
        </button>
        <button class="button-home" routerLink="/list-doctor">
            <h2>Gestión de doctores</h2>
        </button>
        <button class="button-home" routerLink="/create-patient">
            <h2>Citas</h2>
        </button>
        <button class="button-home" routerLink="/list-patient">
            <h2>Doctores</h2>
        </button>
    </div>
</body>
