/* You can add global styles to this file, and also import other style files */
body{
    background: #FFFFFF  !important;  /* fallback for old browsers */

}
.navar-font{
    background-color:#15434E !important;
}

.titulo{
    font-size: 1.8rem;
}

.logo {
    width: 150px;
    height: auto;
}

.button-home {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background-color: #588b8e;
    color: white;
    border: none;
    cursor: pointer;
    height:200px;
    width: 200px;
    border-radius: 15px;
}
.icon-calendar{
    color: #ffffff;
    width: 50px;
    height: 50px;
}

.container-menu{
    height: 100%;
    display: flex; 
    margin: 0; 
    justify-content: center;
    align-items: center;   
    margin-top: 40vh;
    transform: translateY(-50%);
}

select{
background-color: white !important;
}

.button-login {
    margin: 5px;
    padding: 10px 20px;
    background-color: #588b8e;
    color: white;
    border: none;
    cursor: pointer;
    height:45px;
    width: 200px;
    border-radius: 20px;
    align-items: center;
}
.button-home-admin-page{
    background-color: rgb(224, 221, 221) !important;
}
.label-color-text-teal{
    color:#15434E;
    font-weight: bold;
}